.comps {
  display: grid;

  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 10px;

  &__Left {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  &__Right {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  @media (max-width: 992px) {
    grid-template-columns: 2fr;
    grid-template-rows: min-content min-content;
    row-gap: 5px;

    &__Left {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      // border: dotted 3px red;
      // height: fit-content;
    }

    &__Right {
      grid-row: 2 / 3;
      grid-column: 1 / 2;
      // border: dotted 3px red;
    }

    .topRightContent {
      // padding: 20px;
      // margin-top: 20px;
      margin-bottom: 5px;
    }

    .lessonNoteArea {
      // padding: 20px;
      // background-color: white;
      margin-top: 5px;
      // border-radius: 10px;
    }
  }
}
